 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Segoe UI', Tahoma, sans-serif;
     margin: 0;
     padding: 0;
     min-height: 100vh;
     background-color: #ffffff;
 }

 .header {
     position: fixed;
     align-items: center;
     width: 100%;
     display: flex;
     /* background-color: #515151bd; */
     background-color: #395772;
     padding: 5px 14px;
     color: #ecf0f1;
     z-index: 2;
 }

 .header-logo-frame {
     width: 20px;
     height: 20px;
     /* background-color: #ebebeb; */
     background-color: #1d7ec8;
     color: #ffffff;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 1px;
     font-size: 12px;
     font-weight: bold;
 }

 .header-logo img {
     height: 40px;
     margin-left: 6px;
 }

 .search {
     display: flex;
     flex-grow: 1;
     text-align: center;
     align-items: center;
     justify-content: center;
 }

 .search input {
     width: 30%;
     padding: 5px;
     border-radius: 4px;
     border: none;
     font-size: 12px;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.197);
     outline: #ffffff;
     color: #d5d5d5;
 }

 .search input::placeholder {
     color: white;
     opacity: 0.7;
 }

 .search-btn {
     background-image: linear-gradient(to right, #007bff, #0056b3);
     color: #ffffff;
     padding: 4px 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 14px;
     margin: 1px;
 }

 .search-btn:hover {
     opacity: 70%;
 }

 .profile {
     display: flex;
     align-items: center;
 }

 .profile-img-wrapper {
     width: 20px;
     height: 20px;
     border-radius: 50%;
 }

 .profile-img-wrapper img {
     width: 20px;
     height: 20px;
 }

 /* .profile-img-wrapper:hover {

    } */

 .icon {
     margin-right: 10px;
     /* margin-left: 10px; */
     font-size: 18px;
     cursor: pointer;
     width: 13px;
     height: auto;
 }

 .container {
     display: flex;
     /* min-height: 100vh; */
     flex-direction: column;
 }

 .logo {
     font-size: 16px;
 }

 .user-profile {
     display: flex;
     align-items: center;
     font-size: 14px;
 }


 .user-profile img {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-left: 15px;
 }

 /* Class of Sidebar */

 .sidebar {
     border-right: 1px solid #cbcbcb;
     background-color: #f7f8f9;
     color: #000000;
     width: 230px;
     height: 100%;
     transition: all 0.3s;
     position: fixed;
     top: 36px;
     z-index: 1;
     overflow-y: auto;
 }

 .sidebar-logo {
     padding: 4px 4px;
     /* background-color: #515151bd; */
     background-color: #1d7ec8;
     color: #ffffff;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
     font-weight: bold;
     margin-left: 5px;
     margin-right: 4px;
     min-width: 20px;
 }

 .sidebar.collapsed {
     width: 50px;
 }

 .sidebar-header {
     display: flex;
     padding: 10px;
     border-bottom: 1px solid #cbcbcb;
     transition: all 0.3s;
     display: flex;
     align-items: stretch;
     height: 43px;
 }

 .sidebar-header.collapsed {
     justify-content: left;
     width: 100%;
     height: 43px;
 }

 .sidebar-toggle {
     display: flex;
     width: 13px;
     align-items: center;
     margin-left: auto;
 }

 .sidebar-toggle-btn {
     background: none;
     border: none;
     cursor: pointer;
     color: #000000;
     width: 13px;

 }

 .sidebar-toggle-btn:hover {
     opacity: 70%;
 }

 .sidebar-toggle.sidebar-toggle-btn.collapsed {
     display: none;
 }

 .sidebar-header .icon {
     display: flex;
     /* font-size: 21px; */
     padding: 2px;
     cursor: pointer;
 }

 .sidebar-header.collapsed .icon {
     display: block;
 }

 .sidebar-toggle.collapsed {
     display: none;
 }

 .sidebar-header.collapsed p {
     display: none;
 }

 .sidebar-menu {
     padding: 4px 0;
 }

 .main-content {
     color: rgb(66, 66, 66);
     margin-left: 230px;
     margin-top: 79px;
     padding: 5px 15px;
     transition: all 0.3s;
 }

 .main-content.expanded {
     margin-left: 50px;
 }

 .menu-item {
     display: flex;
     color: rgb(91, 86, 86);
     padding: 5px 12px;
     cursor: pointer;
     transition: all 0.3s;
     white-space: nowrap;
     overflow: hidden;
     font-size: 13px;
     margin: 5px;
     border-radius: 3px;
     align-items: center;
 }

 .menu-item i {
     margin-right: 10px;
     width: 15px;
     text-align: center;
 }

 .menu-item img {
     width: 15px;
     height: 15px;
     margin-right: 10px;
     margin-top: 2px;
 }

 .menu-item:hover {
     background-color: #dddddd;
 }

 .menu-text {
     display: inline-block;
 }

 .collapsed .menu-text {
     display: none;
 }


 /* Class of Navbar */

 .navbar {
     display: flex;
     align-items: center;
     background-color: #ffffff;
     border-bottom: 1px solid #cbcbcb;
     color: rgb(91, 86, 86);
     justify-content: space-between;
     position: fixed;
     transition: all 0.3s;
     font-size: 13px;
     padding: 0px 15px;
     top: 36px;
     left: 230px;
     right: 0;
     height: 43px;
     z-index: 1;
 }

 .navbar-brand {
     display: flex;
     align-items: center;
 }

 .navbar-button {
     padding: 4px 10px;
     background-color: #ffffff;
     color: rgb(91, 86, 86);
     border-radius: 3px;
     cursor: pointer;
     font-size: 14px;
     /* margin: 1px; */
     border: 1px solid rgb(91, 86, 86);
 }

 .navbar-button:hover {
     opacity: 70%;
     /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);    */
 }

 .navbar-title {
     display: flex;
     align-items: center;
 }

 .navbar-title img {
     margin-left: 10px;
 }

 .navbar.expanded {
     display: flex;
     left: 50px;
     align-items: center;
 }

 .navbar-toggle-btn {
     display: none;
     background: none;
     border: none;
     font-size: 14px;
     cursor: pointer;
     color: #2c3e50;
     margin-right: 10px;
 }

 .navbar-toggle-btn.collapsed {
     display: inline;
     width: 13px;
 }

 .navbar-toggle-btn:hover {
     opacity: 70%;
 }

 /* Class of Card */

 .card {
     background-color: #ffffff;
     border-radius: 5px;
     border: 1px solid #cdcdcd;
     margin-top: 10px;
 }

 .card-header {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom: 1px solid #cdcdcd;
     background-color: #f8f9fa;
     padding: 2px 10px;
 }

 .card-title {
     padding: 5px 10px;
 }

 .card-content {
     padding: 5px 10px;
     text-align: justify;
 }

 .card-header h2 {
     color: #2c3e50;
 }

 .card-body {
     padding: 10px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: #ffffff;
 }

 .card-footer {
     padding: 2px 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top: 1px solid #cdcdcd;
     background-color: #ffffff;
     text-align: right;
 }

 .card:hover {
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
 }

 .button-card {
     background-color: #3498db;
     color: white;
     border: none;
     padding: 5px 10px;
     border-radius: 3px;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 .button-card:hover {
     opacity: 70%;
 }

 /* CLASS DROPDOWN */
 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropbtn {
     color: white;
     padding: 10px;
     font-size: 14px;
     border: none;
     cursor: pointer;
 }

 .hover-dropdown img {
     cursor: pointer;
     width: 20 px;
     height: 20px;
     border-radius: 50%;
     overflow: hidden;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 2;
     overflow: auto;
     right: 0;
 }

 .dropdown-content a {
     color: black;
     font-size: small;
     padding: 7px 15px;
     text-decoration: none;
     display: flex;
     align-items: center;
 }

 .dropdown-content img {
     width: 13px;
     height: 13px;
     margin-right: 10px;
     border-radius: 0;
 }

 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }

 /* Hover Dropdown */
 .hover-dropdown:hover .dropdown-content {
     display: block;
 }

 /* Click Dropdown */
 .click-dropdown .dropdown-content.show {
     display: block;
 }

 /* Animated Dropdown */
 .animated-dropdown .dropdown-content {
     transition: all 0.5s ease-in-out;
     opacity: 0;
     transform: translateY(-20px);
 }

 .animated-dropdown .dropdown-content.show {
     opacity: 1;
     transform: translateY(0);
 }

 /* Toasts */
 .toast {
     position: fixed;
     min-width: 300px;
     background-color: #ffffff;
     color: #000000;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     opacity: 0;
     visibility: hidden;
     transform: translateY(100%);
     transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
     z-index: 1050;
 }

 .toast.show {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
 }

 .toast-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     border-bottom: 1px solid rgba(3, 3, 3, 0.1);
 }

 .toast-title {
     font-size: 14px;
     font-weight: bold;
 }

 .toast-body {
     padding: 10px;
 }

 /* Close Button */
 .toast .close {
     background: none;
     border: none;
     color: #000000;
     font-size: 20px;
     cursor: pointer;
 }

 .toast .close:hover {
     color: #aaa;
 }

 /* Positions */
 .top-right {
     top: 20px;
     right: 20px;
 }

 .bottom-right {
     bottom: 20px;
     right: 20px;
 }

 /* Positions */
 .top-right {
     top: 20px;
     right: 20px;
 }

 .bottom-right {
     bottom: 20px;
     right: 20px;
 }


 /* card-status */
 .crad-status {
     display: flex;
     padding: 10px 0px;
     gap: 20px;
     margin-top: 10px;
 }

 .card-stat-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 10px;
     padding: 5px 0px;
 }

 .card-status-item {
     background: white;
     padding: 15px 20px;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
     text-align: left;
     transition: transform 0.3s ease;
 }

 .card-status-item:hover {
     transform: translateY(-5px);
 }

 .card-status-content {
     border-radius: 10px;
     text-align: justify;
     justify-content: space-between;
     align-items: center;
 }

 .icon {
     width: 40px;
     height: 40px;
     margin: 0 auto 10px;
 }

 .calendar-icon {
     background-color: #6c63ff;
 }

 .cart-icon {
     background-color: #6fdc6f;
 }

 .user-icon {
     background-color: #63b3ff;
 }

 .chat-icon {
     background-color: #ff6b6b;
 }

 .icon::before {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     background: url('https://via.placeholder.com/40') no-repeat center;
     background-size: contain;
 }

 .card-status-content h2 {
     font-size: 1.2rem;
     margin: 0;
     color: #333;
 }

 .stat-value {
     font-size: 2rem;
     font-weight: bold;
 }

 .status-change {
     font-size: 0.9rem;
 }

 .positive {
     color: green;
 }

 .negative {
     color: red;
 }

 /* News */
 .news-container {
     margin: 0 auto;
 }

 .news-item {
     display: flex;
     align-items: center;
     border-radius: 5px;
     border: 1px solid #cdcdcd;
     padding: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .news-item:hover {
     opacity: 75%;
     cursor: pointer;
 }

 .news-image {
     width: 120px;
     height: 80px;
     object-fit: cover;
     margin-right: 15px;
 }

 .news-content {
     flex: 1;
 }

 .news-category {
     font-size: 12px;
     color: #ff6600;
     text-transform: uppercase;
     margin-bottom: 5px;
 }

 .news-title {
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 5px;
     color: #333;
 }

 .news-meta {
     font-size: 12px;
     color: #888;
 }

 .news-tag {
     display: inline-block;
     background-color: #007bff;
     color: white;
     font-size: 11px;
     padding: 2px 6px;
     border-radius: 3px;
     margin-right: 5px;
 }


 /* Media Queries */
 @media (max-width: 768px) {
     .search-bar {
         width: 200px;
     }

     .sidebar {
         width: 200px;
     }

     .sidebar.collapsed {
         width: 50px;
     }

     .navbar {
         left: 200px;
     }

     .navbar.expanded {
         left: 50px;
     }

     .main-content {
         margin-left: 200px;
     }

     .main-content.expanded {
         margin-left: 50px;
     }
 }

 @media (max-width: 576px) {

     .sidebar {
         width: 250px;
     }

     .sidebar.collapsed {
         width: 0px;
     }

     .top-header {
         flex-direction: column;
         height: auto;
     }

     .search-bar {
         width: 100%;
         margin-top: 10px;
     }

     .navbar {
         display: flex;
         left: 0;
         top: 37px;
         width: 100%;
         height: 42px;
         flex-direction: row;
         align-items: center;
         /* padding: 10px 20px; */
     }

     .navbar-toggle-btn {
         display: flex;
         background: none;
         border: none;
         font-size: 14px;
         cursor: pointer;
         color: #2c3e50;
         margin-right: 10px;
         width: 13px;
     }

     .navbar.expanded {
         left: 0px;
     }

     .main-content.expanded {
         margin-left: 0px;
     }

     .main-content {
         margin-left: 0;
         margin-top: 80px;
     }
 }

 @media (max-width: 400px) {

     .card {
         background-color: #ffffff;
         border-radius: 8px;
         /* padding: 20px;  */
         margin-bottom: 10px;
         border: 1px solid #cdcdcd;
     }

     .card:hover {
         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
     }

     .card h2 {
         margin-bottom: 5px;
         color: #2c3e50;
     }

     .sidebar {
         width: 100%;
     }

     .sidebar.collapsed {
         width: 0px;
     }

     .top-header {
         flex-direction: column;
         height: auto;
     }

     .search-bar {
         width: 100%;
         margin-top: 10px;
     }

     .navbar {
         display: flex;
         left: 0;
         top: 37px;
         width: 100%;
         height: 42px;
         align-items: center;
     }

     .navbar-toggle-btn {
         display: flex;
         background: none;
         border: none;
         font-size: 14px;
         cursor: pointer;
         color: #2c3e50;
         margin-right: 10px;
         width: 13px;

     }

     .navbar.expanded {
         left: 0px;
     }

     .main-content.expanded {
         margin-left: 0px;
     }

     .main-content {
         margin-left: 0;
         margin-top: 80px;
     }
 }
