/* responsive.css */
@media (max-width: 768px) {
    .search-bar {
        width: 200px;
    }

    .sidebar {
        width: 200px;
    }

    .sidebar.collapsed {
        width: 50px;
    }

    .navbar {
        left: 200px;
    }

    .navbar.expanded {
        left: 50px;
    }

    .main-content {
        margin-left: 200px;
    }

    .main-content.expanded {
        margin-left: 50px;
    }

    .card-stat-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-row {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 250px;
    }

    .sidebar.collapsed {
        width: 0px;
    }

    .top-header {
        flex-direction: column;
        height: auto;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .navbar {
        display: flex;
        left: 0;
        top: 37px;
        width: 100%;
        height: 42px;
        flex-direction: row;
        align-items: center;
    }

    .navbar-toggle-btn {
        display: flex;
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        color: #a1a1a1;
        margin-right: 10px;
        width: 15px;
    }

    .navbar.expanded {
        left: 0px;
    }

    .main-content.expanded {
        margin-left: 0px;
    }

    .main-content {
        margin-left: 0;
        margin-top: 80px;
    }

    .card-stat-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .card {
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 10px;
        border: 1px solid #cdcdcd;
    }

    .card:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    .card h2 {
        margin-bottom: 5px;
        color: #2c3e50;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar.collapsed {
        width: 0px;
    }

    .top-header {
        flex-direction: column;
        height: auto;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .navbar {
        display: flex;
        left: 0;
        top: 37px;
        width: 100%;
        height: 42px;
        align-items: center;
    }

    .navbar-toggle-btn {
        display: flex;
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        color: #a1a1a1;
        margin-right: 10px;
        width: 15px;
    }

    .navbar.expanded {
        left: 0px;
    }

    .main-content.expanded {
        margin-left: 0px;
    }

    .main-content {
        margin-left: 0;
        margin-top: 80px;
    }
}
